<nav class="navbar">
    <div class="logo">
        <img src="https://cdn.prod.website-files.com/66c82c1989379c3c6bec8b31/66d1481da282129393344e88_Group%201000003039.png" alt="Pinteran Logo" class="image-6" loading="lazy">
    </div>
    <div class="menu-wrapper">
        <a href="{{ url_for('dashboard') }}" class="menu-text">Home</a>
        <a href="#" class="menu-text">Profile</a>
        <a href="#" class="menu-text">Settings</a>
        <a href="{{ url_for('logout') }}" class="menu-text">Logout</a>
    </div>
</nav>